FORMAT: 1A
HOST: https://webapps.vlp.com/

# VLP v1

Service Oriented Architecture specified for the VLP project.

# VLP [/{?backends}]

This resource does not have any attributes. Instead it offers the initial
API affordances in the form of the links in the JSON body.

It is recommend to follow the “url” link values,
[Link](https://tools.ietf.org/html/rfc5988) or Location headers where
applicable to retrieve resources. Instead of constructing your own URLs,
to keep your client decoupled from implementation details.

+ Parameters
    + backends: ['cache', 'db'] (required, array) from which backends the resource is coming from. Possible values are (`cache`, `db`, `ldap`, `connections`, `commerce`)

+ Attributes
    + backends (required, array[string]) - to which backends the resource is being saved to. Possible values are (`cache`, `db`, `ldap`, `connections`, `commerce`)


## Retrieve the Entry Point [GET]

+ Response 200 (application/json)

        {
            "profile_url": "/profiles",
            "orders_url": "/orders",
            "selections_url": "/selections/my",
            "quotes_url": "/quotes",
            "likes_url": "/likes",
            "views_url": "/views",
            "images_url": "/images",
            "documents_url": "/documents",
            "ar_url": "/ar"
        }

# Group IS01 - Profile

Resources related to user's profile in the API.

A Profile object contains basic profiles attributes. It has the following attributes:

+ userName
+ mail
+ firstName
+ lastName
+ imageURL
+ area - position shared by the user
+ postalAddress
+ billingAddress
+ GUID - WAS session ID
+ type - client or lead

## Profiles collections [/profiles{?page}]

+ Parameters
    + page: 1 (optional, number) - The page of profiles to return

### List Profiles [GET]

Retrive profiles.

+ Response 200 (application/json)

    + Headers

            Link: </profiles?page=2>; rel="next"

    + Body

            {
                "count": 3,
                "profiles": [
                    "vponte",
                    "cbrundo",
                    "dlecce"
                ]
            }
            
### Create a user Profile [POST]

+ Request (application/json)

        {
            "userName": "vponte",
            "mail": "v.ponte@wintech.it",
            "firstName": "Valerio",
            "lastName": "Ponte",
            "imageURL": "https://www.vlp.com/logo.png",
            "area": "Milano"
        }

+ Response 201

    + Headers

            Location: /profiles/vponte


## Profile details [/profiles/{userName}]

+ Parameters
    + userName: vponte (required, string) - ID of the user
    

### Read Profile Details [GET]

+ Response 200 (application/json)

        {
            "userName": "vponte",
            "mail": "v.ponte@wintech.it",
            "firstName": "Valerio",
            "lastName": "Ponte",
            "imageURL": "https://www.vlp.com/logo.png",
            "area": Milano,
            "postalAddress": {
                "street": "piazza Dergano 9",
                "cap": 20158,
                "city": "Milan",
                "country": "Italy"
            }, 
            "billingAddress": {
                "street": "piazza Dergano 9",
                "cap": 20158,
                "city": "Milan",
                "country": "Italy"
            }
        }

### Edit Profile details [PUT]

+ Request (application/json)

        {
            "userName": "vponte",
            "mail": "v.ponte@wintech.it",
            "firstName": "Valerio",
            "lastName": "Ponte",
            "imageURL": "https://www.vlp.com/logo.png",
            "area": "Milano",
            "postalAddress": {
                "street": "piazza Dergano 9",
                "cap": 20158,
                "city": "Milan",
                "country": "Italy"
            }, 
            "billingAddress": {
                "street": "piazza Dergano 9",
                "cap": 20158,
                "city": "Milan",
                "country": "Italy"
            }
        }
        
+ Response 200

### Delete Profile [DELETE]

+ Response 204

## User personal profile [/profiles/my]

Used to retrieve user personal details. Depending on whether the user is logged in or not,
data will be retrieved from DB or local cache.

### Read Profile Details [GET]

+ Response 200 (application/json)

        {
            "userName": "vponte",
            "mail": "v.ponte@wintech.it",
            "firstName": "Valerio",
            "lastName": "Ponte",
            "imageURL": "https://www.vlp.com/logo.png",
            "area": "Milano",
            "postalAddress": {
                "street": "piazza Dergano 9",
                "cap": 20158,
                "city": "Milan",
                "country": "Italy"
            }, 
            "billingAddress": {
                "street": "piazza Dergano 9",
                "cap": 20158,
                "city": "Milan",
                "country": "Italy"
            }
        }


# Group Orders

## Orders collections [/orders{?userName}{?page}]

+ Parameters
    + userName: vponte (optional, string) - Filter orders created by the specified userName
    + page: 1 (optional, number) - The page of orders to return

### List Orders [GET]

This action retrieves the list of past orders, 
possibly sliced and filtered only for the specified `userName`.

+ Response 200 (application/json)

    + Headers

            Link: </orders?page=2>; rel="next"

    + Body

            {
                "count": 3,
                "orders": [
                    {
                        "id": "1",
                        "status": "completed",
                        "createdBy": "vponte",
                        "createdOn": "2015/06/01 01:12PM",
                    },
                    {
                        "id": "2",
                        "status": "pending",
                        "createdBy": "vponte",
                        "createdOn": "2015/06/01 01:12PM",
                    },
                    {
                        "id": "3",
                        "status": "shipped",
                        "createdBy": "vponte",
                        "createdOn": "2015/06/01 01:12PM",
                    }
                ]
            }
            
                        
### Create an order [POST]

Receives the commerce SKUs of the products that will be in the order.

+ Request (application/json)

        {
            "products": ["1", "5"],
        }

+ Response 201

    + Headers

            Location: /orders/1
            
## Order details [/orders/{orderId}]

+ Parameters
    + orderId: 1 (required, string) - ID of the order


### Read Order details [GET]

+ Response 200 (application/json)

        {
            "id": "1",
            "status": "completed",
            "createdBy": "vponte",
            "createdOn": "2015/06/01 01:12PM",
            "products": ["1", "5", "7"]
        }

### Edit Order details [PUT]

+ Request (application/json)

        {
            "id": "1",
            "status": "completed",
            "createdBy": "vponte",
            "createdOn": "2015/06/01 01:12PM",
            "products": ["1", "5", "7"]
        }
        
+ Response 200

### Delete Order [DELETE]

+ Response 204

# Group IS15 – Selected products

Resources related to user's selected products. 
An user can list its selected products, create a selection for his session and then edit it.

**Note**: Only one product per category (e.g. serramenti, pavimenti) can be selected
at a given time. If another product of the same category is selected, it will replace
the currently selected product.

## Selected products collections [/selections/my]

The following methods allow the user to interact with selected products.

A selected product is made of:

+ sku (string) - the product commerce SKU for which the quote is being prepared
+ attributes (object[string, string]) - a list of attributes selected on the product. 
  An attribute is represented as a key/value pair.
+ alternate_products (array[string]) - a list of alternative products (recommended
  by commerce). Each string is a commerce SKU.
+ alternate_selections (array) - a list of alternativce products selected by the user
  to be seen in the augmented reality. **TBD: still neded?**
+ type (enum[string]) - type of the selection (e.g. serramenti) 

### List Selections [GET]

This action retrieves the list of selected products.

+ Response 200 (application/json)

    + Body

            {
                "selections": [
                    {
                        "sku": "1",
                        "attributes": {
                            "color": "black",
                            "isolation": "high",
                            "material": "wood",
                            "attribute4": "value4",
                            "attribute5": "value5"
                        },
                        "alternate_products": ["2", "3"],
                        "alternate_selections": ["3", "4"],
                        "type": "serramenti"
                    },
                    {
                        "sku": "2",
                        "attributes": {
                            "color": "black",
                            "isolation": "high",
                            "material": "wood",
                            "attribute4": "value4",
                            "attribute5": "value5"
                        },
                        "alternate_products": ["2", "3"],
                        "alternate_selections": ["3", "4"],
                        "type": "pavimenti"
                    }
                ]
            }


### Create Selection [POST]

This action is used to create a new selection in the user's selection object. 
It will replace his current selection if he already has one in the same category.

**TBD: emit a warning when replacing a selection?**

+ Request (application/json)

        {
            "sku": "1",
            "attributes": {
                "color": "black",
                "isolation": "high",
                "material": "wood",
                "attribute4": "value4",
                "attribute5": "value5"
            },
            "alternate_products": ["2", "3"],
            "alternate_selections": ["3", "4"],
            "type": "serramenti"
        }

+ Response 201

    + Headers

            Location: /selections/my/serramenti

## Selected product details [/selections/my/{type}]

These actions operate on the selection of the required `type`.

+ Parameters
    + type: serramenti (required, enum[string]) - type of selection to operate on
        
        + Members
            + `serramenti`
            + `pavimenti`
            + `**TBD**`

### Read Selection details [GET]

+ Response 200 (application/json)

        {
            "sku": "1",
            "attributes": {
                "color": "black",
                "isolation": "high",
                "material": "wood",
                "attribute4": "value4",
                "attribute5": "value5"
            },
            "alternate_products": ["2", "3"],
            "alternate_selections": ["3", "4"]
        }

### Edit Selection [PUT]

+ Request (application/json)

        {
            "sku": "1",
            "attributes": {
                "color": "black",
                "isolation": "high",
                "material": "wood",
                "attribute4": "value4",
                "attribute5": "value5"
            },
            "alternate_products": ["2", "3"],
            "alternate_selections": ["3", "4"]
        }

+ Response 200

### Delete Selection [DELETE]

+ Response 204

# Group IS03 - Documents

Resources related to user's documents in the API. 
An user can list its previous documents, create a quote and then edit it.

## Documents collections [/documents{?userName}{?page}{?type}]

The following methods allow the user to interact with documents.
Document acts as a "super-class" for quotes and orders.

+ Attributes
    + Include VLP
    + id: 1 (required, string)
    + userId: vponte (required, string) - user owning the document
    + type: order (required, enum[string]) - type of the document
        + Members
            + `order`
            + `quote`
    + file: '{"xml": "<xml>" "pdf": "a2F3YWlpIGRvY3VtZW50Cg=="}' (required, object) - object representing n the base64 encoded document
    + status (required, enum[string]) - status of the document
    + valid (required, string)
    + documentReference (required, string)
    + documentCode (required, string) - fpDealerID in case of document of type `quote`

+ Parameters
    + userName: vponte (optional, string) - Filter documents created by the specified `userName`
      i.e. that have `fpDealerId` set
    + page: 1 (optional, number) - The page of documents to return
    + type: quote (optional, enum[string]) - Type of document that is required
        + Members
            + `quote`
            + `order`

### List Documents [GET]

This action retrieves the list of past documents, 
possibly sliced and filtered only for the specified `userName` and/or `type`.

**TBD: this might be more useful if it returns the JSON object representing
the various documents.**

+ Response 200 (application/json)

    + Headers

            Link: </documents?page=2>; rel="next"

    + Body

            {
                "count": 5,
                "documents": [
                    "1",
                    "2",
                    "3",
                    "4",
                    "5"
                ]
            }

## Quotes collections [/documents/quotes]

+ Attributes
    + Include Documents collections
    + fpDealerID: 5 (required, string) - ID on FP Dealer Web

### Create a Quote [POST]

This method allows the user to create a new quote, i.e. a `Document` of type `quote`.

**Note**: the returned `Location` header points to the created quote ID, 
not the given FP Dealer ID.

+ Request (application/json)

        {
            "fpDealerID": "1",
            "userId": "vponte",
            "document": "a2F3YWlpIGRvY3VtZW50Cg=="
        }

+ Response 201

    + Headers

            Location: /documents/2
            
            
## Orders collections [/documents/orders]

+ Attributes
    + Include Documents collections
    + status: proposal (required, enum[string]) - status of the order
        + Members
            + `proposal`
            + `confirmed`

### Create an Order [POST]

This method allows the user to create a new order, i.e. a `Document` of type `order`.

If no `userId` is given, it is assumed that the quote is created for the current user.

+ Request (application/json)
    
    + Attributes (Orders collections)

    + Body
    
            {
                "status": "proposal",
                "document": "a2F3YWlpIGRvY3VtZW50Cg=="
            }

+ Response 201

    + Headers

            Location: /documents/2

## Documents details [/documents/{id}]


+ Parameters
    + id: 1 (required, string) - ID of the document

### Read Document details [GET]

+ Response 200 (application/json)

        {
            "fpDealerId": "1",
            "type": "quote",,
            "document": "a2F3YWlpIGRvY3VtZW50Cg=="
        }

### Edit Document details [PUT]

This action allows the user to change an existing document.

+ Request (application/json)

        {
            "fpDealerId": "1",
            "type": "quote",
            "document": "a2F3YWlpIGRvY3VtZW50Cg=="
        }

+ Response 200

### Delete Document [DELETE]

+ Response 204

# Group Likes

**TBD: likes, view and wishes might become a single resource (i.e. Event)**

# Group IS12 - Views

## Views collections [/views{?userName}{?page}]

+ Parameters
    + userName: vponte (optional, string) - Filter orders created by the specified userName
    + page: 1 (optional, number) - The page of views to return

### List Views [GET]

Retrive content (e.g. stories, products) views, possibly filtered by `userName` and sliced.

+ Response 200 (application/json)

    + Headers

            Link: </views?page=2>; rel="next"

    + Body

            {
                "count": 3,
                "views": [
                    "1",
                    "2",
                    "3"
                ]
            }
            
### Create a content view [POST]

+ Request (application/json)

        {
            "id": "1",
            "contentID": "1",
            "title": "Storia 1",
            "URL": "https://www.vlp.com/wps/portal/stories/storia/1",
            "image_URL": "https://www.vlp.com/logo.png"
        }

+ Response 201

    + Headers

            Location: /views/1


## Views details [/views/{id}]

+ Parameters
    + id: 1 (required, string) - ID view event
    

### Read View Details [GET]

+ Response 200 (application/json)

        {
            "id": "1",
            "contentID": "1",
            "title": "Storia 1",
            "URL": "https://www.vlp.com/wps/portal/stories/storia/1",
            "image_URL": "https://www.vlp.com/logo.png"
        }

### Edit View details [PUT]

+ Request (application/json)

        {
            "id": "1",
            "contentID": "1",
            "title": "Storia 1",
            "URL": "https://www.vlp.com/wps/portal/stories/storia/1",
            "image_URL": "https://www.vlp.com/logo.png"
        }
        
+ Response 200

### Delete View [DELETE]

+ Response 204

# Group IS02 - Product Images

**Note**: Probably this group would be better managed as a sub-resource of a product resource. 
Since we have no API for products right now, 
we simply refer to this defining images as a sub-path of products.

## Product Images collections by product repository SKU [/products/{prSKU}/images]

+ Parameters
    + prSKU: 1 (required, string) - SKU on the product repository
    

### Create Product Image [POST]

**TBD: define actual JSON structure to create image. Shall we store path or content in DB?**

+ Request (application/json)

        {
            "type": "main",
            "URL": "https://www.vlp.com/logo.png"
        }

+ Response 201

    + Headers

            Location: /products/{prSKU}/images/1


## Product Image details by product repository SKU [/products/{prSKU}/images/{type}/{?index}]

+ Parameters
    + prSKU: 1 (required, string) - SKU on the product repository
    + index: 1 (optional, number) - for image lists (e.g. carousels) the
      index of the required image
    + type: main (required, enum[string]) - type of the image being required
        + Members
            + `main`
            + `banner`
            + `carousel`
            + `details`


### Read Product Image [GET]

+ Response 200 (image/png)

### Update Product Image [PUT]

**TBD: define actual JSON structure to create image. Shall we store path or content in DB?**

+ Request (application/json)

        {
            "type": "main",
            "URL": "https://www.vlp.com/logo.png"
        }

+ Response 200


### Delete Product Image [DELETE]

+ Response 204

## Find Product Images [/products/find/images/{type}/{?index}{?commerceSKU}{?attributes}]

+ Parameters
    + commerceSKU: 1 (required, string) - SKU on the commerce
    + attributes: {"color": "black", "isolation": "high", "material": "wood"} (required, object) - 
      attribute selection on the commerce SKU product
    + index: 1 (optional, number) - for image lists (e.g. carousels) the
      index of the required image
    + type: main (required, enum[string]) - type of the image being required
        + Members
            + `main`
            + `banner`
            + `carousel`
            + `details`


### Read Product Image [GET]

**TBD: this is a search / query. We should expect queries to return a collection of results. Change to that?**

+ Response 200 (image/png)


# Group Documents

# Group 3D


## Scenes collections [/scenes{?userName}{?page}]

## Object collections [/scenes/{sceneId}/{?userName}{?page}]
